# vscode
.vscode 

# clj
.lsp
.clj-kondo

# Intellij
*.iml
.idea

# npm
node_modules

# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
main.js

# Exclude sourcemaps
*.map

# obsidian
data.json
data1.json
data2.json
data3.json
not a main.js
trash/
src/python test

obsidian.d.ts


# Exclude macOS Finder (System Explorer) View States
.DS_Store
