body {
    --yti-cell-size: 50px;
}

.yti-processor-gantt-margin-bottom {
    height: 32px;
}

.yti-gantt-wrapper {
    position: relative;
}

.yti-gant-margin-up {
    height: 4px;
    width: 100%;
}

.yti-gant-margin-bottom {
    height: 12px;
    width: 100%;
}

.yti-gantt-task-line {
    width: 100%;
    height: 24px;
}

.yti-gantt-task-wrapper {
    width: 100%;
    margin-top: 2px;
    margin-bottom: 2px;
}

.yti-gantt-task-issue-link-div {
    float: left;
    width: 84px;
    height: 24px;
}

.yti-gantt-task-other-wrapper {
    margin-left: 96px;
}

.yti-gantt-task-element {
    height: 24px;
    border-radius: 8px;

    text-align: center;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    background: rgb(75, 113, 214);
}

.yti-gantt-task-text-wrapper {
    margin-left: 8px;
    margin-right: 8px;

    text-align: center;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.yti-gantt-navline-datenav {
    pointer-events: none;
    height: 100%;
}

.yti-gantt-navline-line {
    pointer-events: none;

    height: 100%;
    width: 0.5px;

    border-left: 0.5px dashed currentColor;
    opacity: 0.5;
}

.yti-gantt-navline-text {
    pointer-events: none;
    font-size: 13px;
    margin-left: -32px;

    opacity: 0.85;
    width: fit-content;

    transform: rotate(0deg);
}

.yti-gantt-navline-wrapper {
    pointer-events: none;
    position: absolute;
    top: 0px;
    left: 96px;
    right: 0px;
    height: 100%;
}